@font-face { font-family: "Futuris Cyrillic"; src: url(../fonts/futuris.woff2) format("woff2"), url(../fonts/futuris.woff) format("woff"); font-weight: 400; font-style: normal; }

@font-face { font-family: "Futuris Cyrillic"; src: url(../fonts/futuris-italic.woff2) format("woff2"), url(../fonts/futuris-italic.woff) format("woff"); font-weight: 400; font-style: italic; }

@font-face { font-family: "Futuris Cyrillic"; src: url(../fonts/futuris-bold.woff2) format("woff2"), url(../fonts/futuris-bold.woff) format("woff"); font-weight: 700; font-style: normal; }

@font-face { font-family: "Proxima Nova"; src: url(../fonts/proximanova-light.woff2) format("woff2"), url(../fonts/proximanova-light.woff) format("woff"); font-weight: 300; font-style: normal; }

@font-face { font-family: "Proxima Nova"; src: url(../fonts/proximanova-light-italic.woff2) format("woff2"), url(../fonts/proximanova-light-italic.woff) format("woff"); font-weight: 300; font-style: italic; }

@font-face { font-family: "Proxima Nova"; src: url(../fonts/proximanova-regular.woff2) format("woff2"), url(../fonts/proximanova-regular.woff) format("woff"); font-weight: 400; font-style: normal; }

@font-face { font-family: "Proxima Nova"; src: url(../fonts/proximanova-regular-italic.woff2) format("woff2"), url(../fonts/proximanova-regular-italic.woff) format("woff"); font-weight: 400; font-style: italic; }

@font-face { font-family: "Proxima Nova"; src: url(../fonts/proximanova-bold.woff2) format("woff2"), url(../fonts/proximanova-bold.woff) format("woff"); font-weight: 700; font-style: normal; }

@font-face { font-family: "Proxima Nova"; src: url(../fonts/proximanova-bold-italic.woff2) format("woff2"), url(../fonts/proximanova-bold-italic.woff) format("woff"); font-weight: 700; font-style: italic; }
